<!DOCTYPE html>
<html>
<head>
    <title>用户注册</title>
     <script type = "text/javascript" src = "{{ STATIC_URL }}js/jquery.js"></script>
</head>
<body>
        {{ form.non_field_errors }}
    <form action = "/account/regist/" method = "post">
        {% csrf_token %}
            {{ form.email.errors }}
            登录邮箱：<input type = "email" id = "email" name = "email" value = "{{ email }}"/><br/>
            {{ form.nickname.errors }}
            昵称：<input type = "text" id = "nickname" name = "nickname"/><br/>
            {{ form.password.errors }}
            密码: <input type = "password" id = "password" name = "password"/><br/>
            {{ form.password_confirm.errors }}
            确认密码：<input type = "password" id = "password_confirm" name = "password_confirm"/><br/>

        <button type = "submit">Submit</button>
    </form>
</body>
</html>